
.nav-title{
    margin: 2rem;
}

.title1{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.addButton{
    background-color:#7B6BEF;
    color: #FFF;
    height: 50px;
    width: 100px;
}

.table{
    width: 100%;
}

.mat-row:hover {
    background-color: #E9E9E9;
}
